.rapports-container {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .rapports-container h2 {
    font-size: 1.5em;
    color: #2c3e50;
    margin-bottom: 20px;
  }

  .rapport-section {
    margin-bottom: 30px;
  }

  .rapport-section h3 {
    font-size: 1.2em;
    color: #2c3e50;
    margin-bottom: 10px;
  }

  .chart-container {
    width: 100%;
    height: 300px;
    margin-bottom: 20px;
  }

  table {
    width: 100%;
    border-collapse: collapse;
  }

  th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
  }

  th {
    background-color: #f9f9f9;
  }

  .autorite-controle-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: Arial, sans-serif;
  }

  .search-bar {
    background-color: #4CAF50; /* Fond vert pour la barre de recherche */
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .search-bar .logo {
    font-size: 1.5em;
    font-weight: bold;
    color: white; /* Texte blanc pour "SeedPass" */
  }

  .search-bar input {
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 300px;
  }

  .main-content {
    display: flex;
    flex: 1;
  }

  .sidebar {
    width: 250px;
    background-color: #2c3e50; /* Couleur de fond de la sidebar */
    color: white;
    padding: 20px;
  }

  .sidebar nav ul {
    list-style-type: none;
    padding: 0;
  }

  .sidebar nav ul li {
    margin-bottom: 10px;
  }

  .sidebar nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.1em;
  }

  .sidebar nav ul li a.active {
    font-weight: bold;
    color: #4CAF50; /* Couleur du lien actif */
  }

  .content {
    flex: 1;
    padding: 20px;
    background-color: #f9f9f9; /* Couleur de fond du contenu principal */
  }
