<div class="autorite-controle-container">


  <!-- Contenu principal -->
  <div class="main-content">
    <!-- Sidebar -->
    <aside class="sidebar">
      <nav>
        <ul>
          <li><a routerLink="/dashboardControle">Dashboard</a></li>
          <li><a routerLink="/verifications">Vérifications</a></li>
          <li><a routerLink="/alertes">Alertes</a></li>
          <li><a routerLink="/rapports">Rapports</a></li>
        </ul>
      </nav>
    </aside>

    <!-- Contenu dynamique -->
    <div class="content">
      <app-dashboardcontrole/>
    </div>
  </div>
</div>
